<style>
  .hall-fame {
    display: flex !important;
    list-style: none !important;
    flex-wrap: wrap !important;
    padding-left: 0;
    margin-top: 20px;
    margin-bottom: 0;
  }
  .member {
    margin-right: 8px !important;
    margin-bottom: 8px !important;
    box-sizing: border-box;
  }

  .member li{
    display: list-item;
    text-align: -webkit-match-parent;
    list-style: none !important;
  }

  .avatar {
    background-color: #ffffffff;
    border-radius: 0.375rem;
    box-shadow: 0 0 0 1px rgba(31,35,40,0.15);;
    display: inline-block;
    flex-shrink: 0;
    line-height: 1;
    overflow: hidden;
    vertical-align: middle;
    border-radius: 50% !important;
    border-style: none;
  }

</style>
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <%- partial('_partial/post/gallery') %>
  <div class="content" itemprop="articleBody">
      <% if (page.search || page.type === "search") { %>
        <%- partial('_partial/search') %>
      <% } else if (page.type === "tags") { %>
          <div id="tag-cloud">
            <div class="tag-cloud-title">
                <% var visibleTags = 0 %>
                <% site.tags.each(function(tag){ %>
                  <% if (tag.length) { %>
                    <% visibleTags += 1 %>
                  <% } %>
                <% }) %>
                <%- _p('counter.tag_cloud', visibleTags) %>
            </div>
            <div class="tag-cloud-tags">
              <%- tagcloud({min_font: 12, max_font: 30, amount: 300}) %>
            </div>
          </div>
        <% } else if (page.type === 'categories') { %>
          <div id="categories">
            <div class="category-list-title">
                <% var visibleCategories = 0 %>
                <% site.categories.each(function(cat){ %>
                  <% if (cat.length) { %>
                    <% visibleCategories += 1 %>
                  <% } %>
                <% }) %>
                <%- _p('counter.categories', visibleCategories) %>
            </div>
            <div class="category-list">
              <%- list_categories() %>
            </div>
          </div>
        <% } else { %>
          <h1 id="HallFame"><a href="#HallFame" class="headerlink" title="HallFame"></a>Hall Fame</h1>
          <p>Become one of our contributors on GitHub, and you can show here. <br>(Ranking is determined by contribution)</p>
          <ul class="hall-fame">
          </ul>
          <%- page.content %>
        <% } %>
  </div>
</article>
